<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns="http://java.sun.com/xml/ns/javaee"
	xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd"
	id="WebApp_ID" version="2.5">
	<display-name>Todo_ism</display-name>
	<welcome-file-list>
		<welcome-file>signup.jsp</welcome-file>
		<welcome-file>index.jsp</welcome-file>
		<welcome-file>index.htm</welcome-file>
		<welcome-file>default.html</welcome-file>
		<welcome-file>default.jsp</welcome-file>
		<welcome-file>default.htm</welcome-file>
	</welcome-file-list>
	<filter>
		<filter-name>Signupfilter</filter-name>
		<filter-class>filter.Signupfilter</filter-class>
	</filter>
	<filter-mapping>
		<filter-name>Signupfilter</filter-name>
		<url-pattern>/SignupController</url-pattern>
	</filter-mapping>
	<servlet>
		<description></description>
		<display-name>HttpServlet</display-name>
		<servlet-name>HttpServlet</servlet-name>
		<servlet-class>javax.servlet.http.HttpServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>HttpServlet</servlet-name>
		<url-pattern>/HttpServlet</url-pattern>
	</servlet-mapping>
	<servlet>
		<display-name>SignupController</display-name>
		<servlet-name>SignupController</servlet-name>
		<servlet-class>controller.SignupController</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>SignupController</servlet-name>
		<url-pattern>/SignupController</url-pattern>
	</servlet-mapping>
	<servlet>
		<description></description>
		<display-name>LoginController</display-name>
		<servlet-name>LoginController</servlet-name>
		<servlet-class>controller.LoginController</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>LoginController</servlet-name>
		<url-pattern>/LoginController</url-pattern>
	</servlet-mapping>
	<servlet>
		<description></description>
		<display-name>ForgotController</display-name>
		<servlet-name>ForgotController</servlet-name>
		<servlet-class>controller.ForgotController</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>ForgotController</servlet-name>
		<url-pattern>/ForgotController</url-pattern>
	</servlet-mapping>
	<servlet>
		<description></description>
		<display-name>SqueController</display-name>
		<servlet-name>SqueController</servlet-name>
		<servlet-class>controller.SqueController</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>SqueController</servlet-name>
		<url-pattern>/SqueController</url-pattern>
	</servlet-mapping>
	<servlet>
		<description></description>
		<display-name>SecurityController</display-name>
		<servlet-name>SecurityController</servlet-name>
		<servlet-class>controller.SecurityController</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>SecurityController</servlet-name>
		<url-pattern>/SecurityController</url-pattern>
	</servlet-mapping>
	<servlet>
		<description></description>
		<display-name>AddTaskController</display-name>
		<servlet-name>AddTaskController</servlet-name>
		<servlet-class>controller.AddTaskController</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>AddTaskController</servlet-name>
		<url-pattern>/AddTaskController</url-pattern>
	</servlet-mapping>
	<servlet>
		<description></description>
		<display-name>TodolistController</display-name>
		<servlet-name>TodolistController</servlet-name>
		<servlet-class>controller.TodolistController</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>TodolistController</servlet-name>
		<url-pattern>/TodolistController</url-pattern>
	</servlet-mapping>
	<servlet>
		<description></description>
		<display-name>LogoutController</display-name>
		<servlet-name>LogoutController</servlet-name>
		<servlet-class>controller.LogoutController</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>LogoutController</servlet-name>
		<url-pattern>/LogoutController</url-pattern>
	</servlet-mapping>
	<servlet>
		<description></description>
		<display-name>DeletetaskController</display-name>
		<servlet-name>DeletetaskController</servlet-name>
		<servlet-class>controller.DeletetaskController</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>DeletetaskController</servlet-name>
		<url-pattern>/DeletetaskController</url-pattern>
	</servlet-mapping>
	<servlet>
		<description></description>
		<display-name>UpdatestatusController</display-name>
		<servlet-name>UpdatestatusController</servlet-name>
		<servlet-class>controller.UpdatestatusController</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>UpdatestatusController</servlet-name>
		<url-pattern>/UpdatestatusController</url-pattern>
	</servlet-mapping>
	<servlet>
		<description></description>
		<display-name>UpdatepriorityController</display-name>
		<servlet-name>UpdatepriorityController</servlet-name>
		<servlet-class>controller.UpdatepriorityController</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>UpdatepriorityController</servlet-name>
		<url-pattern>/UpdatepriorityController</url-pattern>
	</servlet-mapping>
	<servlet>
		<description></description>
		<display-name>UpdatelowpriorityController</display-name>
		<servlet-name>UpdatelowpriorityController</servlet-name>
		<servlet-class>controller.UpdatelowpriorityController</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>UpdatelowpriorityController</servlet-name>
		<url-pattern>/UpdatelowpriorityController</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>PerController</servlet-name>
		<servlet-class>controller.PerController</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>PerController</servlet-name>
		<url-pattern>/PerController</url-pattern>
	</servlet-mapping>
	<servlet>
		<description></description>
		<display-name>ActivateController</display-name>
		<servlet-name>ActivateController</servlet-name>
		<servlet-class>controller.ActivateController</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>ActivateController</servlet-name>
		<url-pattern>/ActivateController</url-pattern>
	</servlet-mapping>
	<servlet>
		<description></description>
		<display-name>GetQuestionController</display-name>
		<servlet-name>GetQuestionController</servlet-name>
		<servlet-class>controller.GetQuestionController</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>GetQuestionController</servlet-name>
		<url-pattern>/GetQuestionController</url-pattern>
	</servlet-mapping>
	<filter>
		<filter-name>SessionFilter</filter-name>
		<filter-class>filter.SessionFilter</filter-class>
	</filter>
	<error-page>
		<error-code>404</error-code>
		<location>/404.jsp</location>
	</error-page>
	<error-page>
		<error-code>500</error-code>
		<location>/500.jsp</location>
	</error-page>
	<filter-mapping>
		<filter-name>SessionFilter</filter-name>
		<url-pattern>/AddTaskController</url-pattern>
		<url-pattern>/TodolistController</url-pattern>
		<url-pattern>/DeletetaskController</url-pattern>
		<url-pattern>/PerController</url-pattern>
		<url-pattern>/UpdatelowpriorityController</url-pattern>
		<url-pattern>/UpdatepriorityController</url-pattern>
		<url-pattern>/UpdatestatusController</url-pattern>
	</filter-mapping>

</web-app>